<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container" style="padding: 20px 20px">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Sukses !</h4>
                <p>Data yang anda masukan telah berhasil</p>
                <hr>
                <p class="mb-0">Informasi yang sudah anda masukan dapat dilihat melalui Perpustakaan</p>
            </div>
            <a th:href="@{/perpustakaan}" class="btn btn-secondary float-right" role="button" aria-pressed="true">Kembali</a>
        </div>
        <div class="col"></div>
    </div>
</div>


</body>

</html>