<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SIP - Tambah Pustakawan</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container" style="padding: 20px 20px" >
    <div class="row">
        <div class="col"></div>
        <div class="col-md-6">
            <div class="card border-secondary mb-03">
                <div class="card-header">
                    <h3 th:text="${title}"></h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/pustakawan/tambah/spesialisasi}" th:object="${form}"  method="POST">

                        <div class="form-group">
                            <label th:for="spesialisasiId">Spesialisasi :</label>
                            <select  name="spesialisasiId">
                                <option th:each="spesialisasi : *{listSpesialisasi}"
                                        th:value="${spesialisasi.id}"
                                        th:text="${spesialisasi.nama}">
                                </option>
                            </select>
                        </div>
                        <br>
                        <input type="hidden" name="pustakawanId" th:value="*{pustakawan.id}" />
                        <button type="submit" class="btn btn-primary float-right">Tambah</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>

</html>