<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SIP - Beranda</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    <body>
        <nav th:replace="fragments/fragment :: beranda"></nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col" style="padding:20px 20px" >
                    <h2>Daftar Pustakawan</h2>
                </div>
                <div class="col col-lg-2" style="padding:20px 40px">
                    <a class="btn btn-primary" th:href="@{/pustakawan/tambah}" th:method="GET">✚ Pustakawan</a>
                </div>
            </div>
        </div>

    <div class="table-responsive" style="padding: 0 20px">
        <table class="table">
            <thead>
            <tr>
                <th>No.</th>
                <th>Nama</th>
                <th>NIP</th>
                <th>Tempat Lahir</th>
                <th>Tanggal Lahir</th>
                <th>Jenis Kelamin</th>
                <th width="500">Spesialisasi</th>
                <th>Konfigurasi</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="pustakawan,iterationStatus : *{listPustakawan}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${pustakawan.nama}"></td>
                    <td th:text="${pustakawan.nip}"></td>
                    <td th:text="${pustakawan.tempat_lahir}"></td>
                    <td th:text="${pustakawan.tanggal_lahir}"></td>
                    <td>
                        <span th:if="${pustakawan.jenis_kelamin == 1}">Laki-Laki</span>
                        <span th:if="${pustakawan.jenis_kelamin == 2}">Perempuan</span>
                    </td>
                    <td>
                        <span th:if="${pustakawan.getListSpesialisasi().size() == 0}">-</span>
                        <span th:unless="${pustakawan.getListSpesialisasi().size() == 0}" th:each="spesialisasi, iterStat : ${pustakawan.getListSpesialisasi()}"
                              th:text="!${iterStat.last} ? ${spesialisasi.getNama()} + ', ' : ${spesialisasi.getNama()}"></span>
                    </td>
                    <td>
                        <a th:href="@{'/'}">
                            <button type="button" class="btn btn-info">Jadwal</button>
                        </a>
                        <a th:href="@{'/pustakawan/update/' + ${pustakawan.id}}">
                            <button type="button" class="btn btn-primary">✎</button>
                        </a>
                        <a th:href="@{'/pustakawan/delete/' + ${pustakawan.id}}">
                            <button type="button" class="btn btn-danger">✕</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </body>
</html>